
.ipynb_checkpoints/

*.json

*.fasta

dataset/ncov_africa/readme.txt

dataset/ncov_asia/readme.txt

dataset/ncov_europe/readme.txt

dataset/ncov_north-america/readme.txt

dataset/ncov_oceania/readme.txt

dataset/ncov_south-america/readme.txt

dataset/

project_2/__pycache__/

project_2/chess_app.csv

project_2/layout/__pycache__/
