.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position:relative;
    float: right;
    right: 10px;
    height: 75px;
}

body {
    margin: 0px;
}

/* 

PLACE THIS CODE IN THE HEAD SECTION OF OUR PAGES

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bd3636">
<meta name="msapplication-TileColor" content="#bd3636">
<meta name="theme-color" content="#f98a8a">
 */